In [ ]:
!pip install geopandas
!pip install folium
!pip install lightgbm
!pip install utm
!pip install geojson 
!pip install haversine
!pip install pyshp
!pip install pyproj

In [ ]:
# 시각화 도구 설치
!pip install plotnine #R 시각화 
!pip install folium #지도 시각화 

# 그래프에서 한글표현을 위해 폰트를 설치합니다.
!apt-get update -qq
!apt-get install fonts-nanum* -qq

In [1]:
import matplotlib.pyplot as plt  # 그래프 그리는 용도
import matplotlib.font_manager as fm  # 폰트 관련 용도
path = '/usr/share/fonts/truetype/nanum/NanumGothicEco.ttf'  # 설치된 나눔글꼴중 원하는 녀석의 전체 경로를 가져오자
font_name = fm.FontProperties(fname=path, size=10).get_name()
print(font_name)
plt.rc('font', family=font_name)

fm._rebuild()

NanumGothic Eco

In [11]:
import pandas as pd
from matplotlib import pyplot as plt 
import seaborn as sns
import numpy as np
import folium 
import geopandas as gpd
import math
from tqdm.notebook import tqdm
import utm
from shapely.geometry import Point, Polygon
from haversine import haversine
from plotnine import *
import shapefile  #the pyshp module : Should install pyshp module.
import pandas as pd
from pyproj import Proj, transform  #Should install pyproj module.

In [6]:
# shape file geojson으로 바꾸기 
import geopandas
myshpfile = geopandas.read_file('/content/drive/My Drive/Project/Seoul/기타 변수/유치원_초중고_위치데이터')
myshpfile.to_file('/content/drive/My Drive/Project/Seoul/기타 변수/유치원_초중고_위치데이터/유치원_초중고_위치데이터.geojson', driver='GeoJSON')

#geojson 읽기 
school_loc = gpd.read_file('/content/drive/My Drive/Project/Seoul/기타 변수/유치원_초중고_위치데이터/유치원_초중고_위치데이터.geojson')
school_loc

      SC_NO     SCHUL_NM  ...           TM_Y                       geometry
0      4067        금호유치원  ...  549909.030647  POINT (202078.415 549909.031)
1      4068        기린유치원  ...  545365.823196  POINT (209509.179 545365.823)
2      3838       기청공민학교  ...  543025.738383  POINT (196241.339 543025.738)
3      4490        길음중학교  ...  557128.494831  POINT (201522.581 557128.495)
4      3763        까망유치원  ...  557252.881267  POINT (204282.321 557252.881)
...     ...          ...  ...            ...                            ...
2291   4424       희망찬유치원  ...  555525.492506  POINT (202089.637 555525.492)
2292   2471  한세사이버보안고등학교  ...  550238.821839  POINT (195758.593 550238.822)
2293   3806  한양여자대학부속유치원  ...  550986.389279  POINT (204362.074 550986.389)
2294   4403       한우리유치원  ...  549368.699131  POINT (204496.280 549368.699)
2295   2424  해성국제컨벤션고등학교  ...  553524.741341  POINT (205034.077 553524.741)

[2296 rows x 8 columns]

In [7]:
# 좌표계 확인
#  korea 2000/central belt 2010 (epsg:5186)
print('school_loc',school_loc.crs)

school_loc epsg:4326

In [8]:
school_loc.to_excel('/content/drive/My Drive/Project/Seoul/기타 변수/유치원_초중고_위치데이터/유치원_초중고_위치데이터.xlsx', index=False)

In [ ]:
# Change coordinate system
# korea 2000/central belt 2010 (epsg:5186) to wgs84(epsg:4326)
inProj = Proj(init = 'epsg:5186')
outProj= Proj(init = 'epsg:4326')
latitude = []
longitude= []
for idx,row in school_loc.iterrows():
    x,y  = row.TM_X,row.TM_Y  # korea 2000 좌표계
    nx,ny = transform(inProj,outProj,x,y)     # 새로운 좌표계    
    latitude.append(ny)
    longitude.append(nx)
school_loc['latitude'] = latitude
school_loc['longitude']= longitude

In [16]:
school_loc = school_loc.drop(['TM_X','TM_Y', 'geometry'], axis=1)
school_loc

      SC_NO     SCHUL_NM  ...   latitude   longitude
0      4067        금호유치원  ...  37.548696  127.023520
1      4068        기린유치원  ...  37.507715  127.107550
2      3838       기청공민학교  ...  37.486672  126.957501
3      4490        길음중학교  ...  37.613744  127.017245
4      3763        까망유치원  ...  37.614856  127.048503
...     ...          ...  ...        ...         ...
2291   4424       희망찬유치원  ...  37.599300  127.023663
2292   2471  한세사이버보안고등학교  ...  37.551660  126.952001
2293   3806  한양여자대학부속유치원  ...  37.558395  127.049369
2294   4403       한우리유치원  ...  37.543819  127.050878
2295   2424  해성국제컨벤션고등학교  ...  37.581262  127.056992

[2296 rows x 7 columns]

## 행정동 Mapping

In [17]:
dong_geo = gpd.read_file('/content/drive/My Drive/Project/Seoul/서울시_행정동경계/hangjeongdong_boundary.geojson')
dong_geo

          행정동코드  ...                                           geometry
0    1111053000  ...  MULTIPOLYGON (((126.97689 37.57565, 126.97703 ...
1    1111054000  ...  MULTIPOLYGON (((126.98269 37.59507, 126.98337 ...
2    1111055000  ...  MULTIPOLYGON (((126.97585 37.59656, 126.97359 ...
3    1111056000  ...  MULTIPOLYGON (((126.97507 37.63139, 126.97649 ...
4    1111057000  ...  MULTIPOLYGON (((126.96067 37.58080, 126.96281 ...
..          ...  ...                                                ...
420  1174070000  ...  MULTIPOLYGON (((127.15355 37.53400, 127.15357 ...
421  1174057000  ...  MULTIPOLYGON (((127.14447 37.55477, 127.14319 ...
422  1174061000  ...  MULTIPOLYGON (((127.13458 37.54712, 127.13115 ...
423  1174068500  ...  MULTIPOLYGON (((127.14857 37.54578, 127.14871 ...
424  1153078000  ...  MULTIPOLYGON (((126.83179 37.47757, 126.83235 ...

[425 rows x 6 columns]

In [19]:
# creating a geometry column 
geometry = [Point(xy) for xy in zip(school_loc['longitude'], school_loc['latitude'])]
# Coordinate reference system : WGS84
crs = {'init': 'epsg:4326'}
# Creating a Geographic data frame 
gdf_school_loc = gpd.GeoDataFrame(school_loc, crs=crs, geometry=geometry)

/usr/local/lib/python3.6/dist-packages/pyproj/crs/crs.py:53: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  return _prepare_from_string(" ".join(pjargs))

In [20]:
# 행정동 포함여부 확인 
gdf_school_loc['행정동코드'] = np.zeros(len(gdf_school_loc))
gdf_school_loc['행정동'] = np.zeros(len(gdf_school_loc))

for i in gdf_school_loc.index:
    for j in dong_geo.index:
        if gdf_school_loc.geometry[i].within(dong_geo.geometry[j]):
            gdf_school_loc['행정동'][i] = dong_geo.읍면동명[j]
            gdf_school_loc['행정동코드'][i] = dong_geo.행정동코드[j]
            
gdf_school_loc['행정동코드'] = gdf_school_loc['행정동코드'].astype(int)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

In [21]:
gdf_school_loc

      SC_NO     SCHUL_NM  ...       행정동코드      행정동
0      4067        금호유치원  ...  1120061500  금호2.3가동
1      4068        기린유치원  ...  1171058000     송파1동
2      3838       기청공민학교  ...  1162054500      청림동
3      4490        길음중학교  ...  1129066000    길음제1동
4      3763        까망유치원  ...  1129077000    장위제2동
...     ...          ...  ...         ...      ...
2291   4424       희망찬유치원  ...  1129058000    돈암제1동
2292   2471  한세사이버보안고등학교  ...  1144055500      아현동
2293   3806  한양여자대학부속유치원  ...  1120055000      사근동
2294   4403       한우리유치원  ...  1120069000  성수2가제3동
2295   2424  해성국제컨벤션고등학교  ...  1123057000    전농제2동

[2296 rows x 10 columns]

In [27]:
gdf_school_loc = gdf_school_loc.sort_values(by='행정동코드').reset_index().drop('index',axis=1)

      SC_NO       행정동코드  ...   longitude                    geometry
0      3701  1111051500  ...  126.970311  POINT (126.97031 37.58218)
1      4459  1111051500  ...  126.968516  POINT (126.96852 37.58514)
2      3635  1111051500  ...  126.970755  POINT (126.97076 37.58940)
3      3666  1111051500  ...  126.969127  POINT (126.96913 37.58593)
4      2413  1111051500  ...  126.969686  POINT (126.96969 37.58898)
...     ...         ...  ...         ...                         ...
2291   2711  1174070000  ...  127.145996  POINT (127.14600 37.52949)
2292   2645  1174070000  ...  127.140280  POINT (127.14028 37.52872)
2293   2243  1174070000  ...  127.144034  POINT (127.14403 37.53087)
2294   2704  1174070000  ...  127.141358  POINT (127.14136 37.52838)
2295   2615  1174070000  ...  127.146051  POINT (127.14605 37.53063)

[2296 rows x 10 columns]

In [ ]:
gdf_school_loc = gdf_school_loc[['SC_NO','행정동코드', '행정동', 'SCHUL_NM', 'ADRES', 'TELNO', 'OLD_ZIP', 'latitude','longitude', 'geometry']]

## 유치원만 필터링

In [30]:
df_merge = gdf_school_loc.copy()
mask1 = df_merge['SCHUL_NM'].str.contains('유치원')  

df_kinder = df_merge[mask1].reset_index().drop(['index'], axis=1)
df_kinder

     SC_NO       행정동코드  ...   longitude                    geometry
0     4067  1120061500  ...  127.023520  POINT (127.02352 37.54870)
1     4068  1171058000  ...  127.107550  POINT (127.10755 37.50772)
2     3763  1129077000  ...  127.048503  POINT (127.04850 37.61486)
3     3288  1135062400  ...  127.072967  POINT (127.07297 37.65614)
4     4069  1135061900  ...  127.087784  POINT (127.08778 37.64463)
..     ...         ...  ...         ...                         ...
896   4423  1135058000  ...  127.066450  POINT (127.06645 37.62267)
897   3323  1135061900  ...  127.079446  POINT (127.07945 37.65180)
898   4424  1129058000  ...  127.023663  POINT (127.02366 37.59930)
899   3806  1120055000  ...  127.049369  POINT (127.04937 37.55840)
900   4403  1120069000  ...  127.050878  POINT (127.05088 37.54382)

[901 rows x 10 columns]

In [31]:
df_kinder.to_file('/content/drive/My Drive/Project/Seoul/기타 변수/유치원_초중고_위치데이터/유치원_위치데이터.geojson', driver='GeoJSON')

In [32]:
df_kinder.to_csv('/content/drive/My Drive/Project/Seoul/기타 변수/유치원_초중고_위치데이터/유치원_위치데이터.csv', index=False)

## 행정동 별 유치원 개수

In [50]:
df_num = df_kinder.groupby(by=['행정동','행정동코드'], as_index=False).count()[['행정동','행정동코드','SCHUL_NM']]
df_num.columns = ['행정동','행정동코드','유치원개수']

In [52]:
df_num

       행정동       행정동코드  유치원개수
0     가락1동  1171063100      1
1     가락2동  1171063200      3
2     가락본동  1171062000      2
3      가산동  1154551000      2
4    가양제1동  1150060300      3
..     ...         ...    ...
375    회현동  1114054000      1
376    후암동  1117051000      1
377  휘경제1동  1123072000      1
378  휘경제2동  1123073000      3
379    흑석동  1159060500      5

[380 rows x 3 columns]

In [61]:
# 결측치 0으로 채움 
df_num = dong_geo.merge(df_num, how ='outer', on='행정동코드').drop(['행정동','위도', '경도','geometry' ],axis=1).fillna(0)
df_num

          행정동코드 시군구명   읍면동명  유치원개수
0    1111053000  종로구    사직동    2.0
1    1111054000  종로구    삼청동    0.0
2    1111055000  종로구    부암동    2.0
3    1111056000  종로구    평창동    1.0
4    1111057000  종로구    무악동    1.0
..          ...  ...    ...    ...
420  1174070000  강동구  둔촌제2동    2.0
421  1174057000  강동구  암사제1동    1.0
422  1174061000  강동구  천호제2동    2.0
423  1174068500  강동구     길동    5.0
424  1153078000  구로구  오류제2동    5.0

[425 rows x 4 columns]

In [62]:
df_num.to_csv('/content/drive/My Drive/Project/Seoul/가공데이터/행정동별_유치원개수.csv')